* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

/***************************** TITRE DE LA PAGE *****************************/

/***************************** MENU DÉROULANT *****************************/
header {
  height: 100px;
  width: 100%;
  background-color: rgb(22, 34, 46);
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 999 !important;
}
.navbar {
  position: absolute;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.navbar a {
  color: rgb(183, 100, 47);
}
.navbar .titre {
  font-size: 2em;
  font-weight: bold;
  color: rgb(144, 59, 5);
  text-shadow: rgb(22, 34, 46) 1px 1px, rgb(22, 34, 46) -1px 1px,
    rgb(22, 34, 46) -1px -1px, rgb(22, 34, 46) 1px -1px;
}
.navbar .navlinks ul {
  display: flex;
  list-style: none;
}

.navbar .navlinks ul li {
  margin: 0 30px;
}
.navbar .navlinks ul li:hover a {
  color: white;
  transition: 0.3s;

  /* border-bottom: rgb(183, 100, 47) solid 2px; */
}

.navbar .menu-hamburger {
  display: none;
  position: absolute;
  top: 35px;
  right: 50px;
  width: 35px;
}

@media screen and (max-width: 1350px) {
  .navbar {
    padding: 30px;
  }
  .navbar .menu-hamburger {
    display: block;
  }
  .navlinks {
    top: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }
  .navlinks.mobile-menu {
    margin-left: 0;
  }
  .navlinks ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .navlinks ul li {
    color: rgb(183, 100, 47);
    margin: 30px 0;
  }
}
/***************************** PAGE D'ACCUEIL *****************************/
body {
  background-image: url(../public/fondentier.png);
  background-size: cover;
  background-attachment: fixed;
}
.boxaccueil p {
  color: white;
  font-size: 250%;
  margin: 15%;
  text-align: left;
  position: absolute;
}
.boutonaccueil {
  margin-top: 10px;
  font-size: 50%;
  color: black;
  text-decoration: none;
  background-color: white;
  border: white solid 3px;
  padding: 0.8em 1em;
  position: relative;
  display: inline-block;
}
.boutonaccueil:hover {
  color: white;
  background-color: transparent;
  transition: 0.3s;
}

/******************************MODELE DE PAGE****************************/
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -450%);
}
.box p {
  color: white;
  font-size: 300%;
}
.page {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15%;
  padding: 30px;
  background-color: rgba(128, 128, 128, 0.6);
  position: absolute;
  border-radius: 10px;
  border: 3px solid white;
  color: white;
}
/***************************** PAGE PROFIL *****************************/

.profiltitre {
  padding: 15px;
  color: rgb(183, 100, 47);
}
.page h3 {
  margin-left: 20px;
}
.page p {
  margin-left: 20px;
}
.boutonCV {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  background-color: rgb(22, 34, 46);
  border: rgb(22, 34, 46) solid 2px;
  padding: 0.8em 1em;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
.boutonCV:hover {
  color: white;
  background-color: rgb(183, 100, 47);
  transition: 0.3s;
}

.row {
  display: flex;
  width: 100px;
  margin-left: 50px;
}
.langages {
  flex: 25%;
  padding: 10px;
}
.langages img {
  width: auto;
  max-height: 75px;
}
@media screen and (max-width: 500px) {
  .langages {
    width: 100%;
  }
}
/***************************** PAGE PROJETS *****************************/
.introduction {
  text-align: center;
  margin-top: 10px;
}
.introduction p {
  text-align: center;
}
.typeprojettitre h1 {
  padding-left: 10%;
  margin-top: 20px;
  text-align: left;
  color: rgb(183, 100, 47);
}
.BoutonCompétence {
  color: white;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-left: 22em;
  margin-right: 22em;
  background-color: rgb(22, 34, 46);
  border: rgb(22, 34, 46) solid 2px;
  padding: 0.8em 1em;
  margin-bottom: 20px;
}
.BoutonCompétence:hover {
  color: white;
  background-color: rgb(183, 100, 47);
  transition: 0.3s;
}
.tabprojet {
  background-color: lightgrey;
  margin: 10px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  border-radius: 5px;
  list-style-type: none;
}

.tabprojet table {
  width: 100%;
  background-color: transparent;
}
.tabprojet caption {
  background-color: rgb(22, 34, 46);
  color: white;
  font-size: 150%;
  font-weight: bolder;
  padding: 5px;
  border-bottom: lightgrey solid 2px;
}
.tabprojet table,
td {
  border: rgb(22, 34, 46) solid 2px;
  border-collapse: collapse;
}
.tabprojet table,
td,
h1 {
  background-color: transparent;
  text-align: center;
  margin-top: 5px;
}
.tabprojet td,
p {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.tabprojet img {
  width: auto;
  max-height: 90px;
  margin-top: -10px;
}
@media screen and (max-width: 500px) {
  .langages {
    width: 100%;
  }
}
.boutongithub {
  color: white;
  background-color: rgb(22, 34, 46);
  border: rgb(22, 34, 46) solid 2px;
  padding: 0.5em 0.75em;
  position: relative;
  display: block;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  margin-bottom: 20px;
}
.boutongithub:hover {
  color: white;
  background-color: rgb(183, 100, 47);
  transition: 0.3s;
}
/***************************** PAGE VEILLE *****************************/
.Veille {
  margin-left: 10px;
  margin-right: 10px;
}
.Veille h1 {
  text-align: left;
}

.Veille p {
  text-align: left;
  list-style-type: disc;
}
.Veille ul {
  margin-left: 30px;
}
.feedly {
  color: white;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-left: 22em;
  margin-right: 22em;
  background-color: rgb(22, 34, 46);
  border: rgb(22, 34, 46) solid 2px;
  padding: 0.8em 1em;
  margin-bottom: 20px;
}
.feedly:hover {
  color: white;
  background-color: rgb(183, 100, 47);
  transition: 0.3s;
}

/***************************** PAGE CONTACT *****************************/
/*Formulaire Contact*/
.Contactez-moi {
  display: flex;
  color: black;
  flex-direction: column;
  position: absolute;
  background-color: white;
}
.Contactez-moi {
  width: 700px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 0 50px 0 5px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 17%;
}

.Contactez-moi > h2 {
  display: block;
  font-weight: 700;
  font-size: xx-large;
  text-align: center;
}

.Contactez-moi > p {
  font-weight: 300;
  text-align: center;
}

form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 83px;
  margin-top: 25px;
  margin-left: 22px;
}

form div > label {
  margin-bottom: 7px;
  font-weight: 600;
}

form div > input,
form div > select,
form div > textarea {
  color: white;
  background: rgb(22, 34, 46);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 2px 2px 0px grey;
}

form div > input,
form div > select {
  height: 50px;
  padding-left: 10px;
}

form div > select {
  appearance: none;
  background-size: 15px;
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
}

form div > textarea {
  height: 195px;
  padding: 10px 0px 0px 10px;
}

form div > input::placeholder,
form div > textarea::placeholder {
  color: white;
}

form div > select:invalid {
  color: white;
}

form div > select option {
  background: white;
  color: black;
}

form div:last-child {
  align-items: center;
  margin-top: 20px;
}

form button {
  width: 350px;
  max-width: 400px;
  height: 50px;
  font-weight: 700;
  font-size: 20px;
  background: rgb(22, 34, 46);
  border: rgba(48, 48, 48, 0.5) solid 1px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
}
form button:hover {
  color: white;
  background-color: rgb(183, 100, 47);
  transition: 0.3s;
}
